{% extends 'base.html' %}

{% block content %}

<div id='previous'>
    {% for translation in translations %}
    <div class="pair" , id="previous_input">
        <p>{{ translation['input'] }}</p>
    </div>
    <div class="pair" , id="previous_output">
        <p>{{ translation['output'] }}</p>
    </div>
    {% endfor %}

    <br>
    <textarea name="content"
              placeholder="Enter your sentence here"
              rows="15"
              cols="60">{{ request.form['content'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
</div>
{% endblock %}